<h1>Listing topics</h1>
<table id="topics_list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="topics">
  </tbody>
</table>

<form id="new_topic">
  <input type="text" name="title" placeholder="Title" id="new_topic_title">
  <input type="text" name="description" placeholder="Description" id="new_topic_description">
  <input type="submit" value="Add">
</form>